@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: Ethnocentric;
    src: url('/fonts/Ethnocentric Bold.otf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Ethnocentric;
    src: url('/fonts/Ethnocentric Regular.otf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Ethnocentric;
    src: url('/fonts/Ethnocentric Light.otf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Ethnocentric;
    src: url('/fonts/Ethnocentric Extra Light.otf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Ethnocentric;
    src: url('/fonts/Ethnocentric Ultra Light.otf');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}